@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("../fonts/inter.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    user-select: none;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    border: 1px solid rgb(52, 50, 56);
}

.titlebar {
    display: flex;
    align-items: center;
    background-color: rgba(25, 23, 29, .95);
    -webkit-app-region: drag;
    border-bottom: 1px solid rgb(52, 50, 56);
}

.titlebar p {
    flex: 1 1;
    font-size: 21px;
    margin-left: 10px;
    color: rgb(208, 188, 255);
}

.titlebar button {
    border-radius: 0;
    -webkit-app-region: no-drag;
}

.topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    background-color: rgb(20, 18, 24);
    border-bottom: 1px solid rgb(52, 50, 56);
}

.topbar .search {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 999px;
    background-color: transparent;
    color: rgb(208, 188, 255);
    padding: 5px 10px;
    box-shadow: 0 0 0 1px rgb(147, 143, 153);
    transition: all .25s ease;
}

.topbar .search:hover {
    box-shadow: 0 0 0 1px rgb(204, 194, 220);
    background-color: rgb(208, 188, 255, 0.08);
}

.topbar .search:has(input:focus) {
    background-color: rgb(208, 188, 255, 0.12);
    box-shadow: 0 0 0 1.5px rgb(208, 188, 255);
}

.topbar .search input {
    flex: 1 1;
    outline: none;
    border: 0;
    padding: 15px 20px;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
}

.topbar .search input::placeholder {
    color: rgb(208, 188, 255);
}

.topbar .search input::-webkit-search-cancel-button {
    display: none;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 999px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    overflow: hidden;
    transition: all .25s ease, color 0s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.spaces {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 15px;
    padding-left: 30px;
    scrollbar-gutter: stable;
    background-color: rgb(20, 18, 24);
}

.spaces .space {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 70px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(15, 13, 19);
    box-shadow: 0 0 0 1px rgb(52, 50, 56);
    padding-inline: 15px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: margin-bottom .25s ease,
                min-height .25s ease,
                height .25s ease,
                opacity .25s ease,
                scale .15s ease,
                margin-inline .15s ease;
}

.spaces .space:hover {
    background-color: rgb(10, 8, 14);
    box-shadow: 0 0 0 1.5px rgb(208, 188, 255);
    color: rgb(208, 188, 255);
    margin-inline: -5px;
}

.spaces .space:last-of-type {
    margin-bottom: 0;
}

.spaces .space.hidden {
    margin-bottom: 0;
    min-height: 0;
    height: 0;
    opacity: 0;
    scale: .95;
}

.spaces .space p {
    flex: 1 1;
    margin-left: 10px;
}

ripple-surface {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes grow {
    to {
        scale: 4;
    }
}

ripple {
    position: absolute;
    background: radial-gradient(closest-side, rgba(208, 188, 255, 0.24) max(100% - 70px, 65%), transparent 100%);
    border-radius: 100%;
    scale: .2;
    translate: -50% -50%;
    animation: grow .35s ease-out forwards;
    transition: opacity .25s ease;
}

::-webkit-scrollbar {
    border-radius: 999px;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(208, 188, 255);
    background-clip: content-box;
    border: 4px solid #0000;
    border-radius: 999px;
}

.tooltip {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 5px 10px;
    margin-inline: -1px;
    border-radius: 5px;
    background-color: rgb(40, 32, 44);
    color: rgb(208, 188, 255);
    box-shadow: 0 0 2px 0 rgba(208, 188, 255, 1), 0 2px 10px rgba(0, 0, 0, 0.25);
    transition: all .25s cubic-bezier(0.34, 1.56, 0.64, 1), opacity .25s .25s ease;
    text-wrap: nowrap;
    pointer-events: none;
}

.tooltip.hidden {
    opacity: 0;
    transition: all .25s cubic-bezier(0.34, 1.56, 0.64, 1), opacity .25s ease;
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 250;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .25);
    animation: popup .25s ease forwards;
}

.popup {
    min-width: 200px;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: rgb(40, 32, 44);
    color: rgb(208, 188, 255);
    box-shadow: 0 0 0 1px rgba(208, 188, 255, 1);
    border-radius: 10px;
    overflow: hidden;
}

.popup .title {
    align-self: center;
    padding: 10px;
}

.popup .separator {
    width: 100%;
    height: 1px;
    background-color: rgba(208, 188, 255, 1);
}

.popup .controls {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.popup input {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    border: 0;
    background-color: transparent;
    color: rgb(208, 188, 255);
    padding: 15px 20px;
    box-shadow: 0 0 0 1px rgb(204, 194, 220);
    font-size: 16px;
    transition: all .25s ease;
}

.popup input:hover {
    background-color: rgb(208, 188, 255, 0.08);
}

.popup input:focus {
    background-color: rgb(208, 188, 255, 0.12);
    box-shadow: 0 0 0 1.5px rgb(208, 188, 255);
}

.popup input::placeholder {
    color: rgb(208, 188, 255);
}